html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
}

#neuroglancer-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex: 1;
}

#views {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: row;
}

.view {
  flex: 1;
  cursor: crosshair;
  position: relative;
  outline: 0;
  touch-action: none;
  color: #fff;
  text-align: left;
}


#upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  font-size: 40px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  font-size: 50px;
  color: white;
  z-index: 1;
}
